* {
    -fx-primary : #2A2E37;
    -fx-secondary : #3A3F48;
    -fx-primarytext : white;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.root{
    -fx-background-color: -fx-primary;
}
.button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 20;
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;

}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: #8FC9FF;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-text-fill: white;
    -fx-font-family: "Barlow Condensed";
}
.choice-box{
    -fx-background-color: black;
}

.date-picker {
    -fx-background-color:   black;
}